# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/
coverage/

# Vercel
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# Archives
*.zip

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# TypeScript incremental build cache
*.tsbuildinfo
